h1 {
  font-family: Arial, Helvetica, sans-serif;
}

#city, .weatherTemplateWrapper {
  background: #bef;
  padding: 0.5em;
  font: 1em Arial, Helvetica, sans-serif;
}

div span:first-child {
  font-weight: bold;
}
